

{% block content %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
</style>


<div class="topnav">
  <a class="active" href="{% url 'books_fbv_user:book_list' %}">Books List</a>
  <a href="{% url 'books_fbv_user:book_new' %}"> Add New Book</a>
  <div class="search-container">
    <form method="GET" action="" id="searchform">
      <input type="text" id="searchbox" name="q" value="{{ request.GET.q }}"placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>




<h2>Books Table</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Pages</th>
    <th>ISBN</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  

  {% for book in object_list %}
  <tr>
    <td>{{ book.name }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.pages }}</td>
    <td>{{ book.isbn }}</td>
    <td><a href="{% url 'books_fbv_user:book_edit' book.id %}">edit</a></td>
    <td><a href="{% url 'books_fbv_user:book_delete' book.id %}">delete</a></td>
    </tr>
  {% endfor %}

   
  
 
</table>



{% endblock %}